body {
    margin: 0px;
    padding: 0px;
}


.accordeon-box{
    width: 100%;
    max-width: 800px;
    margin: 20px auto 0px auto;
}

.accordeon{
    margin: 3px 0px 3px 0px;
    padding: 0px 20px 0px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: left;
    border: none;
    background-color: rgb(77, 77, 77);
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 700;
    transition: 0.3s ease-in-out;
}

.accordeon:hover{
    cursor: pointer;
    background-color: rgb(58, 58, 58);
    transition: 0.3s ease-in-out;
}

.content{
    max-height: 0;
    overflow: hidden;
}

.h1{
    margin: 0px;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}

.add-circle{
    margin: 15px auto 15px auto;
    width: 100%;
    max-width: 1400px;
}

.cont-btn-circle{
    display: flex;
}

.add{
    width: 80px;
    height: 50px;
    border: none;
    background-color: rgb(220, 100, 100);
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.add:hover{
    cursor: pointer;
    background-color: rgb(194, 97, 97);
    transition: 0.3s ease-in-out;
}

.del{
    margin: 0px 0px 0px 10px;
    width: 80px;
    height: 50px;
    border: none;
    background-color: rgb(220, 100, 100);
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 24px;
    font-weight: 700;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.del:hover{
    cursor: pointer;
    background-color: rgb(194, 97, 97);
    transition: 0.3s ease-in-out;
}

.circle-container{
    width: 100%;
    margin: 10px 0px 0px 0px;
    display: flex;
}

.crcl{
    margin: 0px 5px 0px 0px;
    width: 80px;
    height: 80px;
    background-color: rgb(220, 100, 100);
    border-radius: 50px;
}