@media screen and (max-width: 1600px) {

    body {
        overflow-x: hidden;
    }

    .triagle7 {
        display: none;
    }
}

@media screen and (max-width: 1400px) {

    .header-bg {
        display: none;
    }

    .text_container-header {
        margin: 0 auto;
    }

    .stars-container {
        margin: 17px auto 0px auto;
    }

    .h1-header {
        text-align: center;
    }

    .h2-header {
        text-align: center;
    }

    .btn-header {
        display: flex;
        max-width: 176px;
        margin: 40px auto 0px auto;
    }

    .triagle1,
    .triagle2,
    .triagle3,
    .triagle4,
    .triagle5,
    .triagle6 {
        display: none;
    }

}

@media screen and (max-width: 1250px) {

    .slider-arrows {
        display: none;
    }

    .slider-container {
        overflow-x: auto;
    }

    nav-container {
        max-width: 1000px;
        padding: 0px 20px;
    }

    .footer-container {
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .logos_container-part5 {
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 1230px) {

    .width-container {
        max-width: 1000px;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .interactiveButtons-container {
        display: none;
    }

    .part2 {
        display: block;
    }

    .bg1 {
        display: none;
    }

    .part4 {
        display: block;
    }

    .cards-container-part6 {
        display: block;
    }
    
    .tablet-part1 {
        width: 100%;
    }

    .text_container-part2 {
        margin: 0 auto;
    }

    .h1-part2 {
        text-align: center;
    }

    .h2-part2 {
        text-align: center;
    }

    .card-imgs-part2 {
        display: flex;
        margin: 0px auto;
    }

    .h3-part2 {
        text-align: center;
    }

    .h4-part2 {
        text-align: center;
    }

    .btn-part2 {
        display: flex;
        max-width: 56px;
        margin: 40px auto 0px auto;
    }

    .form_container-part2 {
        margin: 200px auto 0px auto;
    }

    .text_container-part3 {
        margin: 200px auto 0px auto;
    }

    .text_container-part4 {
        margin: 200px auto 0px auto;
    }

    .part3 {
        margin: 0px;
    }

    .h1-part3 {
        text-align: center;
    }

    .h2-part3 {
        text-align: center;
    }

    .ticket-container {
        margin: 100px auto 0px auto;
    }

    .cards-container-part6 {
        max-width: 592px;
        margin: 100px auto 0px auto;
    }

    .card-part6 {
        margin-bottom: 15px;
    }

}